<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> #}

    <script src="https://use.fontawesome.com/a1b5e5147d.js"></script>

    <style>
      body {
        overflow-y:scroll;
      }

      fieldset {
        border: 2px solid #e0e0e0;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      fieldset legend {
        display: inline;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark">
      <div class="container" style="padding-left: 5px;">
        <a class="nav-link" href="{{ path('frontpage') }}" style="color: #ffffff;"><i class="fa fa-home"></i> Networq</a>

        <form class="form-inline" action="{{ path('search') }}" method="post">
          <input name="query" type="text" style="width: 300px;" class="form-control" placeholder="search..." />
          <button type="submit" class="btn btn-info">Search</button>
          <a href="{{ path('node_new') }}" class="btn btn-success" style="color: #ffff; margin-left: 10px;"><i class="fa fa-plus"></i> New node</a>
        </form>
      </div>
    </nav>


    <nav class="navbar navbar-expand-sm navbar-toggleable-md navbar-light">
      <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav">
            {% if graph is defined %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('frontpage') }}"><i class="fa fa-sitemap"></i> {{ graph.getRootPackage().getFqpn() }}</a>
            </li>
            {% for node in graph.getRootPackage.getNavNodes() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ node|nodePath }}"><i class="fa fa-circle"></i> {{ node['networq:core:node']['name'] }}</a>
            </li>
            {% endfor %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <i class="fa fa-cube"></i> Types
              </a>
              <div class="dropdown-menu" style="min-width: 20rem;">
              {% for package in graph.getPackages() %}
                {# <div class="dropdown-divider"></div> #}
                <a class="nav-link"  class="dropdown-item" href="{{ path('package', { 'fqpn': package.fqpn } ) }}"><i class="fa fa-book"></i>&nbsp;{{ package.fqpn }}</a>
                {% for type in package.getTypes() %}
                 <a class="nav-link"  class="dropdown-item" href="{{ path('type', { 'fqtn': type.fqtn } ) }}"><div style="margin-left: 20px;"><i class="fa fa-cube"></i> {{ type.name }}</div></a>
                {% endfor %}
              {% endfor %}
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% for label, messages in app.flashes %}
      <div class="container">
      {% for message in messages %}
          <div class="alert alert-{{ label }}">
              {{ message|raw }}
          </div>
      {% endfor %}
      </div>
    {% endfor %}
    {% block content %}{% endblock %}

    <script src="{{ asset('build/js/app.js') }}"></script>
<script>
function typeView(fqtn) {
  $('#type-list').hide();
  $('#' + fqtn).show();
}
function typeBack(fqtn) {
  $('#type-list').show();
  $('#' + fqtn).hide();
}

</script>
  </body>
</html>
