{% extends "base.html.twig" %}

{% block content %}
  <div class="container">
    <form action="#" method="POST">
      <div class="row">
        <div class="col-md-8">
          <div style="float: right; margin-top: 10px;">
            <a href="{{ path('node', {'fqnn': fqnn} ) }}" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
          <h1>{{ fqnn }}</h1>
          <textarea name="yaml" class="ace-editor" data-mode="yaml" data-lines="30">{{yaml}}</textarea>

          <br />
          <h5>Examples</h5>
          <h6>Alice the freelancer</h6>
          <p>Alice is a freelancer that is active on Upwork and on GitHub with a rate of $25/hour:</p>
<pre style="border: 1px solid; padding: 5px;"><code>networq:core:node:
    name: Alice Alisson
    description: Freelancer Alice, rocks at webdesign.
    url: http://www.alice.web
networq:github:user:
    name: alice
networq:upwork:freelancer:
    id: 123456789
networq:payment:rate:
    price: 25
    currency: USD
    type: Hourly
</code></pre>

          <h6>Project X</h6>
          <p>Project X is a project with actions, requirements and is hosted on GitHub:</p>
<pre style="border: 1px solid; padding: 5px;"><code>networq:core:node:
    name: Project X
    description: Awesome Example Project.
networq:github:repository:
    name: project-x
    owner: acme
networq:git:repository:
    url: git://git@github.com/acme/project-x.git
    visibility: public
    license: MIT
networq:action:list: ~
networq:requirement:list: ~
</code></pre>

          <h5>Links</h5>
          <ul>
            <li><a target="_blank" href="http://yaml.org/start.html">YAML Syntax reference</a></li>
            <li><a target="_blank" href="https://www.networq.io/getting-started">Networq Getting Started Guide</a></li>

        </div>

        <div class="col-md-4">
          <div id="type-list">
            <h3>Types</h3>
            <input type="text" id="typeSearch" class="form-control" placeholder="Search..." />
            <br />
            <ul class="list-group" id="type-list-group">
            {% for type in graph.types %}
              <li class="list-group-item" data-fqtn="{{ type.getFqtn() }}">
                <a href="#" onclick="typeView('{{ type.getFqtn()|replace(':','_') }}')">
                  {{ type.getFqtn() }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>


          {% for type in graph.types %}
          <div id="{{ type.getFqtn()|replace(':','_') }}" style="display: none;">
            <h4>{{ type.getFqtn() }}</h4>
            <p>This type defines the following fields:</p>
            <h5>Fields: {{ type.getFields()|length }}</h5>
            <ul class="list-unstyled">
            {% for field in type.getFields() %}
              <li>{{ field.getName() }} <code>{{ field.getType() }}</code></li>
            {% endfor %}
            </ul>

            <h5>Example snippet</h5>
            <p>You can copy/paste the following example in your node to tag it as a <code>{{ type.getFqtn() }}</code>. Then change the values based on the node you are creating.</p>
<pre style="border: 1px solid; padding: 5px;"><code>{{ type.getFqtn() }}:{% if (type.getFields()|length) ==0 %} ~{% endif %}

{% for field in type.getFields() %}
    {{ field.getName }}: <i>change_me</i>
{% endfor %}</code></pre>
            <p>To only tag this node as a <code>{{ type.getFqtn() }}</code>, without entering any property values, simply add the following snippet to your node:</p>
<pre style="border: 1px solid; padding: 5px;"><code>{{ type.getFqtn() }}: ~</code></pre>



            <a class="btn btn-primary" href="#" onclick="typeBack('{{ type.getFqtn()|replace(':','_') }}')">Back</a>
            <a class="btn btn-secondary" target="_blank" href="{{ path('type', {'fqtn': type.getFqtn() }) }}">Details</a>
          </div>
          {% endfor %}
        </div>

      </div>
    </form>
  </div>

{% endblock %}
